# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "mojo-snake"
primary_region = "lax"

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
